{% load crispy_forms_tags %}
<p>
<h2 class="card-title">{{ title }}</h2>
  <div class="card">
    <div class="card-body">
      <p>
        {{ formset.management_form }}
        <div id="{{ label }}-formset-container">
          {% for form in formset %}
            <div class="{{ label }}-form-row">
                <p>
                  {{ form|crispy }}
                </p>
            </div>
          {% endfor %}
        </div>
        <p>
            <button type="button" id="{{ label }}-add-form" class="btn btn-primary">+ Add another {{ name }}</button>
        </p>
      </p>
    </div>
  </div>
</p>

<script>
  const {{label}}formContainer = document.getElementById('{{ label }}-formset-container');
  const {{label}}addFormButton = document.getElementById('{{ label }}-add-form');
  const {{label}}formTemplate = document.querySelector('.{{ label }}-form-row').cloneNode(true);
  const {{label}}formCount = document.getElementById('id_{{ formset.prefix }}-TOTAL_FORMS');

  {{label}}addFormButton.addEventListener('click', function() {
    const newForm = {{label}}formTemplate.cloneNode(true);
    const newFormIndex = {{label}}formCount.value;

    newForm.innerHTML = newForm.innerHTML.replaceAll(`_set-0`, `_set-${newFormIndex}`)

    {{label}}formContainer.appendChild(newForm);
    {{label}}formCount.value = parseInt({{label}}formCount.value) + 1;
  });
</script>
