<div class="al-repository border-0 border-bottom mb-2 py-2">
    <div class='row'>
      <div class=" al-repository-information">
        <%= content_tag(params[:id] == repository.slug ? :h1 : :h2, class: 'h5 mb-3 repo-name') do %>
        <%= link_to(t(repository.name), repository_collections_path(repository)) %>
        <% end %>
        <div class='row no-gutters justify-content-center'>
          <div class='col-sm al-repository-contact'>
            <address class="text-break">
              <div class="al-repository-street-address">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256"><path d="M184,72a56,56,0,1,0-64,55.42V232a8,8,0,0,0,16,0V127.42A56.09,56.09,0,0,0,184,72Zm-56,40a40,40,0,1,1,40-40A40,40,0,0,1,128,112Z"></path></svg>
              <small><%= repository_location_to_city(repository.location) %></small>
              </div>
            </address>
          </div>

          <% if on_repositories_index? %>
          <div class='col-sm text-left al-repository-extra'>
            <div class='mb-1'>
              <small>
              <%= t(:'arclight.views.repositories.number_of_collections', count: repository.collection_count) %>
              </small>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
