
// Bootstrap variables - include before importing bootstrap
$enable-cssgrid: true; // used on homepage
$breadcrumb-divider: quote("»");
@import 'bootstrap';

// Blacklight variables - include before importing blacklight
$logo-image: image_url('arclight/logo.svg') !default;
@import 'blacklight/blacklight';

@import 'arclight/application';
@import 'home';


:root {
    --oac-teal-rgb: #{ $teal-rgb };
    --bs-link-color: #{ $teal };
    --bs-link-color-rgb: #{ $teal-rgb };
    --bs-link-hover-color: #{ $darken-teal-2 };
    --bs-link-hover-color-rgb: #{ $darken-teal-2-rgb };
    --al-hierarchy-view-expand-icon: url('blacklight/caretright.svg');
    --al-hierarchy-view-collapse-icon: url('blacklight/caretdown.svg');
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #{ $teal };
    --bs-btn-border-color: #{ $teal };
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{ $darken-teal-1 };
    --bs-btn-hover-border-color: #{ $darken-teal-2 };
    --bs-btn-focus-shadow-rgb: 31,152,173;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{ $darken-teal-2 };
    --bs-btn-active-border-color:  #{ $darken-teal-3 };
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #{ $teal };
    --bs-btn-disabled-border-color: #{ $teal };
}

.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #{ $orange };
    --bs-btn-border-color: #{ $orange };
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{ $darken-orange-1 };
    --bs-btn-hover-border-color: #{ $darken-orange-2 };
    --bs-btn-focus-shadow-rgb: 49,123,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{ $darken-orange-2 };
    --bs-btn-active-border-color:  #{ $darken-orange-3 };
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #{ $orange };
    --bs-btn-disabled-border-color: #{ $orange };
}

.sidenav {
    --bl-facet-active-bg: #{ $teal };
    --bl-facet-active-item-color: #{ $teal };
    --bl-facets-smallish-padding: 0 1rem;
    --bl-facets-smallish-border-radius: 0;
}

@import 'header-footer';
@import 'finding-aid';
@import 'search';

.al-search-breadcrumb {
    margin-bottom: 1.75rem;
}

.search-q::placeholder {
    color: $teal;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans 3;
    color: $headings-color;
}
h1, h1.h3 { font-size: 36px; line-height: 1.4; font-weight: 400; margin-bottom: 1rem; }
h2 { font-size: 28px; line-height: 1.35; }
h3 { font-size: 20px; }

a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; color: $teal; }
a:focus { outline: 2px solid $teal; outline-offset: 2px; }
p a, dd a { text-decoration: underline; }
p a:hover, p a:focus, dd a:hover, dd a:focus { text-decoration: none; color: $teal; }

.nav { width: 100% }

.breadcrumb-links a {
    color: $teal;
}

.form-check-input:checked {
    background-color: $teal;
    border-color: $teal;
}

.truncator.truncated button {
    float: right;
}

.truncator .view-more, .truncator .view-less {
    color: $teal;
}

.truncator .icon::before, .truncator.expanded .icon::before {
    content: none;
}

.truncator .view-more::before {
    content: "\f067"; /* FontAwesome plus */
    content: "+ ";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.truncator.expanded .view-less::before {
    content: "\f068"; /* FontAwesome minus */
    content: "- ";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.blacklight-icons svg {
    fill: var(--al-content-icon-color);
}
a .blacklight-icons svg, .btn .blacklight-icons svg {
    fill: currentColor;
}
.al-grouped-title-bar .blacklight-icons svg,
.oac-collection-search-header .blacklight-icons-repository svg,
.breadcrumb .blacklight-icons-repository svg {
    fill: var(--al-content-icon-color);
    height: 1rem;
    width: 1rem;
    margin-bottom: .2rem;
}
.card {
    border-radius: 0;
}
.al-number-of-children-badge {
    float: right;
    margin-top: 2px;
}
.form-check-input:focus, .form-control:focus, .input-group > .search-autocomplete-wrapper:focus {
    border-color: $teal;
    box-shadow: 0 0 0 0.25rem rgba(var(--oac-teal-rgb), 0.25);
}
.nav-link:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(var(--oac-teal-rgb), 0.25);
}
.btn:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(var(--oac-teal-rgb), 0.25);
}
