$orange: #be4b1b;
$teal: #04768a;
$dark-teal: #016058;


$breadcrumb-divider: quote("»");
$logo-image: image_url('arclight/logo.svg') !default;

@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'arclight/application';
@import 'home';

:root {
    --bs-link-color: #04768a;
    --bs-link-color-rgb: 4,118,138;
    --bs-link-hover-color: #016058;
    --bs-link-hover-color-rgb: 1,96,88;
}

.btn-primary {
    --bs-btn-disabled-bg: var(--bs-link-color);
    --bs-btn-bg: var(--bs-link-color);
    --bs-btn-border-color: var(--bs-link-color);
    --bs-btn-disabled-border-color: var(--bs-link-color);
    --bs-btn-hover-bg: #026664;
    --bs-btn-active-border-color:  #015b4B;
    --bs-btn-hover-border-color: var(--bs-link-hover-color);
    --bs-btn-active-bg:  var(--bs-link-hover-color);
}

.sidenav {
    --bl-facet-active-bg: #04768a;
    --bl-facet-active-item-color: #04768a;
}

.cdl-search-navbar {
    --bs-navbar-padding-y: 1.25rem;
}
.cdl-navbar-logo {
    background-size: 285px 86px;
    width: 285px;
    height: 86px;
    background-position: center left;
}
.cdl-main-navbar {
    margin-bottom: 1rem;
}
.al-search-breadcrumb {
    margin-bottom: 1.75rem;
}

.al-repository-card .al-repository-contact {
    border-left: 1px solid rgba(184, 196, 196, 1)
}

.search-q::placeholder {
    color: $teal;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans 3;
    color: #01334d;
}
h1 { font-size: 36px; line-height: 1.4; font-weight: 400; margin-bottom: 1rem; }
h2 { font-size: 28px; line-height: 1.35; }
h3 { font-size: 20px; }

a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; color: $teal; }
a:focus { outline: 2px solid $teal; outline-offset: 2px; }
p a, dd a { text-decoration: underline; }
p a:hover, p a:focus, dd a:hover, dd a:focus { text-decoration: none; color: $teal; }

.nav { width: 100% }
.help { margin-left: auto; background-color: $orange; color: white }
.help:hover, .help:focus { color: white; background-color: #bb3500 }


.cdl-constraints {
    background-color: #f6f6f6;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.cdl-constraints #appliedParams {
    margin-bottom: 0 !important;
}

.cdl-constraints .constraint-value {
    background-color: white;
    color: $teal;
}

.cdl-constraints .constraint-value:hover {
    background-color: $teal;
    color: white;
}

.form-check-input:checked {
    background-color: $teal;
    border-color: $teal;
}

.facet-limit-active {
    border-color: inherit;
}
