
$orange: #be4b1b;
$dark-orange: #bb3500;


$teal: #04768a;
$teal-rgb: 4,118,138;
$dark-teal: #034e5c;
$dark-teal-rgb: 3,78,92;

$headings-color: #01334d;
$home-headings: #505252;

$border-color: #dee2e6;
$search-grey-background: #f6f6f6;
