
$orange: #be4b1b;
$darken-orange-1: #A24117;
$darken-orange-2: #853513;
$darken-orange-3: #68290F;

$teal: #00768B;
$teal-rgb: 0,118,139;
$darken-teal-1: #035D6D;
$darken-teal-2: #02444f;
$darken-teal-2-rgb: 2,68,79;
$darken-teal-3: #022B32;

// pulled from the svg file
$logo-color-1: #F7BC60;
$logo-color-2: #FFFFFF;
$logo-color-3: #C65127;
$logo-color-4: #00768B;
$logo-color-5: #7E3419;
$logo-color-6: #00334D;
$logo-color-7: #7E7F81;

$headings-color: #01334d;
$home-headings: #505252;

$definition-term-color: #5B7A7B;

$other-border-color: #b8c4c4;
$border-color: #dee2e6;
$search-grey-background: #f6f6f6;
