
$orange: #be4b1b;
$darken-orange-1: #A24117;
$darken-orange-2: #853513;
$darken-orange-3: #68290F;

$teal: #04768a;
$teal-rgb: 4,118,138;
$darken-teal-1: #035D6D;
$darken-teal-2: #02444f;
$darken-teal-2-rgb: 2,68,79;
$darken-teal-3: #022B32;


$headings-color: #01334d;
$home-headings: #505252;

$border-color: #dee2e6;
$search-grey-background: #f6f6f6;
