@import 'colors';

.collection-sidebar {
    // make like a col-12
    flex: 0 0 auto;
    width: 100%;

    border: 0;
    padding: 0 calc(var(--bs-gutter-x) * .5);
    margin-top: -1rem;
    margin-bottom: .5rem;
}
.sidebar-toggler {
    width: 100%;
    border-radius: 0;
    text-align: right;
}
.sidebar-section {
    margin-left: 0;
}
.sidebar-section:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

// al-sidebar-navigation-context card includes Identifier/Collection
// Number, Last Indexed, and Permalink; line-break anywhere in
// potentially long identifier lines
.al-sidebar-navigation-context .card p {
    overflow-wrap: anywhere;
}

// TODO: #sidebar appears on search results pages too,
// so this should be more specific
#sidebar {
    border: 1px solid $border-color;
}

@media (min-width: 992px) {
    .collection-sidebar {
        // make like a col-lg-4
        flex: 0 0 auto;
        width: 33.33333333%;

        padding-right: 1rem;
        border-right: 1px solid $border-color;
        margin-top: var(--bs-gutter-y);
    }
    .collection-sidebar .navbar {
        padding: 0;
    }
    // TODO: see above about #sidebar
    #sidebar { border: 0; }
    .sidebar-section { margin-left: 1rem; }
}

.oac-finding-aid-search {
    background-color: $search-grey-background;
    padding: 0 1.5rem;
}
.oac-online-content-icon svg,
.oac-printer-icon svg,
.oac-envelope-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.1rem;
    margin-bottom: 0.2rem;
}
.permalink::after {
    content: url('blacklight/infinity.svg');
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
}
#embed {
    padding: 1rem;
    margin-bottom: 3rem;

    // copy .card styles from Bootstrap, remove border-radius
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    overflow-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

#embed a::before {
    content: url('blacklight/online.svg');
    fill: var(--al-content-icon-color);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
    vertical-align: middle;
}
