@import 'colors';

// SEARCH HEADER / CONSTRAINTS COMPONENT

.al-repository-card .al-repository-contact {
    border-left: 1px solid #b8c4c4
}
.oac-constraints {
    background-color: $search-grey-background;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.oac-constraints #appliedParams {
    margin-bottom: 0 !important;
}

.oac-constraints .constraint-value {
    background-color: white;
    color: $teal;
}

.oac-constraints .constraint-value:hover {
    background-color: $teal;
    color: white;
}
.oac-collection-search-header .oac-repo {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
}
.oac-collection-search-header .blacklight-icons-collection svg,
h1 .blacklight-icons-collection svg {
    width: 36px;
    height: 36px;
    margin-bottom: 7px;
}
.oac-collection-search-header .oac-document-extent {
    margin-bottom: 0.5rem;
}
.oac-document-abstract-or-scope {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

// SEARCH FORM

.facet-limit-active {
    border-color: inherit;
}
.paginate-section {
    margin-bottom: 1rem;
}

.sort-pagination {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}
.catalog_startOverLink {
    order: 99;
    background-color: #f6f6f6;
    color:rgba(80, 82, 82, 1);
    border: 1px solid rgba(80, 82, 82, 1);
}
.catalog_startOverLink:hover {
    background-color: #bb2d3b;
    color:white;
    border: 1px solid #bb2d3b;
}

// GROUPED RESULTS

.al-grouped-repository a {
    color: $teal;
}
.al-grouped-results .al-grouped-title-bar {
    background-color: inherit !important;
}
.oac-document-extent {
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #e7e4e3 !important;
    font-weight: normal !important;
    line-height: 1.4 !important;
    color: #000;
    font-size: 0.875rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    text-align: left;
    white-space: normal;
}

// SEARCH RESULTS

.documents-list article.document dl.document-metadata:last-of-type {
    margin-bottom: 0;
}
.documents-list article.document dl.document-metadata dd:last-of-type {
    margin-bottom: 0;
}
.documents-list article.document dl.document-metadata dd ol {
    margin-bottom: 0;
}
.index_title {
    flex-grow: 1;
}
