@import 'colors';

.static-findaid-title {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--bs-border-color);
    margin-bottom: 10px;
}

.static-findaid-list {
    margin-bottom: 5px;
}

.static-findaid-document {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--bs-border-color);
    margin-bottom: 10px;
}

.static-findaid-doc-title {
    margin-bottom: 10px;
}

.static-findaid-doc-tree {
    // margin-left: 20px;
    border-width: 0 0 0 1px;
    border-color: var(--bs-border-color);
    border-style: solid;
    padding-left: 20px;
}

.static-findaid-document:last-of-type {
    border: 0;
}
