<nav>
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

    <button class="nav-link active" id="nav-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-summary" type="button" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</button>

    <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab"
    data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false">Details</button>

    <button class="nav-link" id="nav-content-tab" data-bs-toggle="tab" data-bs-target="#nav-content" type="button" role="tab" aria-controls="nav-content" aria-selected="false">Contents</button>

    <button class="nav-link" id="nav-access-and-use-tab" data-bs-toggle="tab" data-bs-target="#nav-access-and-use" type="button" role="tab" aria-controls="nav-access-and-use" aria-selected="false">Access and Use</button>
    <% if has_companion_guides? %>
    <button class="nav-link" id="nav-companion-guides-tab" data-bs-toggle="tab" data-bs-target="#nav-companion-guides" type="button" role="tab" aria-controls="nav-companion-guides" aria-selected="false">Companion Guides</button>
    <% end%>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
    Summary Stuff
  </div>
  <div class="tab-pane fade show" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
    Details Stuff
  </div>
  <div class="tab-pane fade show" id="nav-content" role="tabpanel" aria-labelledby="nav-content-tab">
    Contents Stuff
  </div>
  <div class="tab-pane fade show" id="nav-access-and-use" role="tabpanel" aria-labelledby="nav-access-and-use-tab">
    <%= access %>
  </div>

  <% if has_companion_guides? %>
  <div class="tab-pane fade show" id="nav-companion-guides" role="tabpanel" aria-labelledby="nav-companion-guides-tab">
    Related Guides Stuff
  </div>
  <% end %>
</div>
