<header>
  <div class="container">
    <nav class="navbar" aria-label="Search and top-level navigation" id="main-navbar">
      <a class="mb-3 navbar-brand navbar-logo" href="/">OAC</a>

      <!-- TODO: not sure what the aria-label for this should be,
                 or if it should be aria-hidden="true" -->
      <nav class="navbar-expand-md" aria-label="Togglers" id="header-toggle">
        <button class="navbar-toggler navbar-toggler-right align-self-end" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#top-level-nav" data-bs-target="#top-level-nav" aria-controls="top-level-nav" aria-expanded="false" aria-label="Toggle top-level navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if controller.action_name != 'home' %>
        <button class="navbar-toggler navbar-toggler-right align-self-end" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#search-nav" data-bs-target="#search-nav" aria-controls="search-nav" aria-expanded="false" aria-label="Toggle global search">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span class="blacklight-icons blacklight-icons-search btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
            </svg>
          </span>
        </button>
        <% end %>
      </nav>

      <% if controller.action_name != 'home' %>
      <nav class="navbar-expand-md col-12 col-md-6 align-self-end" aria-label="Global search">
        <div class="collapse navbar-collapse" id="search-nav">
          <%= search_bar %>
        </div>
      </nav>
<!--      <% else %>
      <div class="col-12 col-md-6">
        <div class="announcement">
          <p><strong>🎉 Welcome to the new Online Archive of California! 🎉</strong></p>
          <p>🙋 Visit our <%= link_to 'FAQ', help_path %> for tips to get started.</p>
        </div>
      </div>
-->
      <% end %>

      <nav class="nav navbar-expand-md" aria-label="Top-level navigation">
        <div class="collapse navbar-collapse border" id="top-level-nav">
          <%= render 'shared/user_util_links' %>
        </div>
      </nav>
    </nav>
  </div>
</header>
