<%= tag.div(class: 'al-oembed-viewer', data: { controller: 'arclight-oembed', arclight_oembed_url_value: @resource.href }) do %>
  <div class="al-digital-object">
    <%= helpers.ark_rewrite_link_to(@resource) %>
  </div>
<% end %>
