{% extends "base.html" %}

{% load static %}

{% block title %}
  User:
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ object.name }}</h1>
      </div>
    </div>
    {% if object == request.user %}
      <!-- Action buttons -->
      <div class="row">
        <div class="col-sm-12">
          <div>
            <b>Name:</b> {{ object.name }}
          </div>
          <div>
            <b>Email:</b> {{ object.email }}
          </div>
          <div>
            <b>Repositories:</b>
            <ul>
              {% for r in object.repositories %}
                <li>{{ r }} ({{ r.code }})</li>
              {% endfor %}
            </ul>
          </div>
          <p>
            <a href="{% url 'users:change_password' %}" class="btn btn-primary">Change Password</a>
          </p>
        </div>
      </div>
      <!-- End Action buttons -->
    {% endif %}
  </div>
{% endblock content %}
