services:
  arclight:
    image: cinco/arclight
    pull_policy: never
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: ./Dockerfile.app.dev
    volumes:
      - .:/app
    depends_on:
      - solr
    environment:
      RAILS_VERSION: 7.2.2
      SOLR_PORT: 8983
      SOLR_URL: http://solr:8983/solr/arclight
      SOLR_VERSION: 9.6.1
    ports:
      - "3000:3000"
    #command: ["tail", "-f", "/dev/null"] # for debugging

  solr:
    image: cinco/solr
    pull_policy: never
    build:
      context: ./
      dockerfile: ./Dockerfile.solr
      tags:
        - cinco/solr
    ports:
      - "8983:8983"
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8983/solr/arclight/admin/ping"]
      timeout: 20s
      retries: 10
    #command: ["tail", "-f", "/dev/null"]
