{% extends "base.html" %}

{% load static %}

{% block title %}
  Cinco: Home
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Home</h2>
    </div>
  </div>
  <ul>
  {% for r in roles %}
    <li>
      {{ r.repository }}
      <ul>
        <li><a href="{% url 'findingaids:list_records' r.repository.pk 'ead' %}">EAD</a></li>
        <li><a href="{% url 'findingaids:list_records' r.repository.pk 'ead_pdf' %}">EAD with PDF</a></li>
        <li><a href="{% url 'findingaids:list_records' r.repository.pk 'express' %}">Record Express</a></li>
      </ul>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
