AWSTemplateFormatVersion: 2010-09-09

Description:
  Cinco Access to Airflow

Resources:
  Policy:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      ManagedPolicyName: cinco-access-to-airflow
      Path: "/"
      PolicyDocument:
        Version: 2012-10-17
        Statement:
          - Sid: "AllowMwaaRestApiAccess"
            Effect: "Allow"
            Action:
              - "airflow:InvokeRestApi"
            Resource:
              - !Sub arn:${AWS::Partition}:airflow:${AWS::Region}:${AWS::AccountId}:role/pad-airflow-mwaa/Admin

{# https://docs.aws.amazon.com/mwaa/latest/userguide/access-mwaa-apache-airflow-rest-api.html#granting-access-MWAA-Enhanced-REST-API #}

Outputs:
  Policy:
    Description: The ARN of the policy with invoke rest api airflow permissions
    Value: !GetAtt Policy.PolicyArn
