AWSTemplateFormatVersion: 2010-09-09
Description: CloudFront distribution
Parameters:
  CNAME:
    Type: String
  SSLCertARN:
   Type: String

Resources:

  CloudfrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Comment: !Sub "${CNAME} cloudfront distro"
        Aliases:
          - !Ref CNAME
        Enabled: true
        HttpVersion: http1.1  # default
        IPV6Enabled: false
        ViewerCertificate:
          AcmCertificateArn: !Ref SSLCertARN
          MinimumProtocolVersion: "TLSv1.2_2021"
          SslSupportMethod: sni-only
        {# Logging:
          IncludeCookies: false
          Bucket: !Sub "${LogS3Bucket}.s3.amazonaws.com"
          Prefix: !Ref LogPrefix #}
        Origins:
          {% for origin in sceptre_user_data.origins %}
          - Id: {{ origin.name }}
            DomainName: {{ origin.DomainName }}
            {% if origin.OriginPath is defined %}
            OriginPath: {{ origin.OriginPath }}
            {% endif %}
            CustomOriginConfig:
              HTTPPort: 80
              HTTPSPort: 443
              OriginProtocolPolicy: http-only
              OriginReadTimeout: 30
              OriginKeepaliveTimeout: 5
              OriginSSLProtocols:
                - TLSv1.2
            ConnectionAttempts: 3
            ConnectionTimeout: 10
          {% endfor %}
        DefaultCacheBehavior:
          TargetOriginId: {{ sceptre_user_data.origins.0.name }}
          ViewerProtocolPolicy: redirect-to-https
          AllowedMethods:
            - HEAD
            - GET
            - OPTIONS
            - PUT
            - POST
            - PATCH
            - DELETE
          CachedMethods:
            - HEAD
            - GET
          # Managed Cache Policy: UseOriginCacheControlHeaders-QueryStrings
          # https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html#managed-cache-policy-origin-cache-headers-query-strings
          CachePolicyId: 4cc15a8a-d715-48a4-82b8-cc0b614638fe
          OriginRequestPolicyId: 216adef6-5c7f-47e4-b989-5492eafa07d3
        {% if sceptre_user_data.cache_behaviors is defined %}
        CacheBehaviors:
          {{ sceptre_user_data.cache_behaviors }}
        {% endif %}
