{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ record.repository }}: {{ record.collection_title }}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ record.collection_title }}</h2>
        <ul>
          <li>Collection Title: {{ record.collection_title }}</li>
          <li>Collection Number: {{ record.collection_number }}</li>
          <li>Ark: {{ record.ark }}</li>
          <li>Repository: {{ record.repository }}</li>
          <li>Created By: {{ record.created_by }}</li>
          <li>Record type: {{ record.record_type }}</li>
          <li>Status: {{ record.status }}</li>
          <li>Date created: {{ record.date_created }}</li>
          <li>Date updated: {{ record.date_updated }}</li>
        </ul>
        <a href="{% url 'findingaids:update_record' record.pk %}">Update</a>
      </div>
    </div>
</div>
{% endblock content %}
