{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Attach Supplemental PDF Files
{% endblock title %}

{% block content %}
    <h1>Attach Supplemental PDF Files</h1>
    <p>
        Add or replace supplemental PDF files to this collection guide.
    </p>
      <div class="card">
        <div class="card-body">
          <div><b>Collection Title:</b> {{ form.instance.collection_title }}</div>
          <div><b>Collection Number:</b> {{ form.instance.collection_number }}</div>
          <div><b>ARK:</b> {{ form.instance.ark }}</div>
          <div><b>Repository:</b> {{ form.instance.repository }}</div>
        </div>
      </div>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'findingaids/includes/formset.html' with title="Supplemental PDF Files" name="PDF" label="PDF" formset=formset%}
        <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
        </p>
    </form>
{% endblock content %}
