{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load record_tags %}

{% block title %}
    Attach Supplemental PDF Files
{% endblock title %}

{% block content %}
    <h1>Attach Supplemental PDF Files</h1>
    <p>
        <div>Collection Number: {{ form.instance.collection_number }}</div>
        <div>ARK: {{ form.instance.ark }}</div>
    </p>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        {% for f in formset %}
        <div class="card">
            <div class="card-body">
                {{ f.management_form }}
                {{ f|crispy }}
            </div>
        </div>
        {% endfor %}
        </p>
        <p>
        <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
        </p>
    </form>
{% endblock content %}
