{% extends "base.html" %}

{% load static %}

{% block title %}
  RecordEXPRESS: {{ object.collection_name }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ object.collection_title }}</h1>
        <h2>RecordEXPRESS Status Report</h2>
        <ul>
          <li><b>Collection Title:</b> {{ object.collection_title }}</li>
          <li><b>Collection Number:</b> {{ object.collection_number }}</li>
          <li><b>Filing Title:</b> {{ object.expressrecord.title_filing }}</li>
          <li><b>Date:</b> {{ object.expressrecord.date }}</li>
          <li><b>Start Year:</b> {{ object.expressrecord.start_year }}</li>
          <li><b>End Year:</b> {{ object.expressrecord.end_year }}</li>
          <li><b>Extent:</b> {{ object.extent }}</li>
          <li><b>Language:</b> {{ object.language }}</li>
          <li><b>Access Conditions:</b> {{ object.accessrestrict }}</li>
          <li><b>Publication Rights:</b> {{ object.userestrict }}</li>
          <li><b>Preferred Citation:</b> {{ object.preferred_citation }}</li>
          <li><b>Acquisition Information:</b> {{ object.acqinfo }}</li>
          <li><b>Scope and Content of Collection:</b> {{ object.scopecontent }}</li>
          <li><b>Biography/Administrative History:</b> {{ object.bioghist }}</li>
          <li><b>ARK:</b> {{ object.finding_aid.ark }}</li>
          <li><b>Repository:</b> {{ object.finding_aid.repository }}</li>
          <li><b>Created By:</b> {{ object.finding_aid.created_by }}</li>
          <li><b>Record type:</b> {{ object.finding_aid.record_type }}</li>
          <li><b>Status:</b> {{ object.finding_aid.status }}</li>
          <li><b>Date Created:</b> {{ object.finding_aid.date_created }}</li>
          <li><b>Date Updated:</b> {{ object.finding_aid.date_updated }}</li>
        </ul>
        {% if object.expressrecordcreator_set.exists %}
          <h3>Creators</h3>
          <ul>
            {% for c in object.expressrecordcreator_set.all %}<li>{{ c }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.expressrecordsubject_set.exists %}
          <h3>Subjects</h3>
          <ul>
            {% for s in object.expressrecordsubject_set.all %}<li>{{ s }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.revisionhistory_set.exists %}
          <h3>Revision History</h3>
          <ul>
            {% for r in object.revisionhistory_set.all %}<li>{{ r }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.findingaid.supplementaryfile_set.exists %}
          <h3>Supplementary PDF Files</h3>
          <ul>
            {% for f in object.findingaid.supplementaryfile_set.all %}<li>{{ f }}</li>{% endfor %}
          </ul>
        {% endif %}
        <a href="{% url 'findingaids:update_record_express' object.finding_aid.repository.code object.pk %}">Update</a>
        <a href="{% url 'findingaids:view_record_express_xml' object.finding_aid.repository.code object.pk %}">View XML</a>
      </div>
    </div>
  </div>
{% endblock content %}
