{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ object.finding_aid.repository }}: {{ object.finding_aid.collection_title }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ object.finding_aid.collection_title }}</h2>
        <ul>
          <li>Collection Title: {{ object.finding_aid.collection_title }}</li>
          <li>Collection Number: {{ object.finding_aid.collection_number }}</li>
          <li>Title Filing: {{ object.title_filing }}</li>
          <li>Date (dacs): {{ object.date_dacs }}</li>
          <li>Date (iso): {{ object.date_iso }}</li>
          <li>Extent: {{ object.extent }}</li>
          <li>Language: {{ object.language }}</li>
          <li>Access Conditions: {{ object.accessrestrict }}</li>
          <li>Publication Rights: {{ object.userestrict }}</li>
          <li>Preferred Citation: {{ object.preferred_citation }}</li>
          <li>Acquisition Information: {{ object.acqinfo }}</li>
          <li>Scope and Content of Collection: {{ object.scopecontent }}</li>
          <li>Biography/Administrative History: {{ object.bioghist }}</li>
          <li>Ark: {{ object.finding_aid.ark }}</li>
          <li>Repository: {{ object.finding_aid.repository }}</li>
          <li>Created By: {{ object.finding_aid.created_by }}</li>
          <li>Record type: {{ object.finding_aid.record_type }}</li>
          <li>Status: {{ object.finding_aid.status }}</li>
          <li>Date created: {{ object.finding_aid.date_created }}</li>
          <li>Date updated: {{ object.finding_aid.date_updated }}</li>
        </ul>
        {% if object.expressrecordcreator_set.exists %}
          <h3>Creators</h3>
          <ul>
            {% for c in object.expressrecordcreator_set.all %}<li>{{ c }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.expressrecordsubject_set.exists %}
          <h3>Subjects</h3>
          <ul>
            {% for s in object.expressrecordsubject_set.all %}<li>{{ s }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.revisionhistory_set.exists %}
          <h3>Revision History</h3>
          <ul>
            {% for r in object.revisionhistory_set.all %}<li>{{ r }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.findingaid.supplementaryfile_set.exists %}
          <h3>Supplementary Files</h3>
          <ul>
            {% for f in object.findingaid.supplementaryfile_set.all %}<li>{{ f }}</li>{% endfor %}
          </ul>
        {% endif %}
        <a href="{% url 'findingaids:update_record_express' object.finding_aid.repository.code object.pk %}">Update</a>
        <a href="{% url 'findingaids:view_record_express_xml' object.finding_aid.repository.code object.pk %}">View XML</a>
      </div>
    </div>
  </div>
{% endblock content %}
