{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ verb }} Express Record
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ verb }} Express Record</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'findingaids/includes/express_form.html' %}
          {% include 'findingaids/includes/formset.html' with title="Revision History" name="history" formset=revision_formset%}
          {% include 'findingaids/includes/formset.html' with title="Creators" name="creator" formset=creator_formset%}
          {% include 'findingaids/includes/formset.html' with title="Subject Headings" name="subject" formset=subject_formset%}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
