{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load record_tags %}

{% block title %}
  {{ repository }}: {{ verb }} {% record_type_label record_type %}
{% endblock title %}
{% block content %}
    <h1>{{ verb }} {% record_type_label record_type %}</h1>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if finding_aid_form %}{{ finding_aid_form|crispy }}{% endif %}
        {{ form|crispy }}
        {% if formset %}
          {{ formset.management_form }}
          {{ formset|crispy }}
        {% endif %}
        <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock content %}
