{% extends "base.html" %}

{% load record_tags %}

{% block title %}
  {{ repository }}: List {% record_type_label record_type %} Records
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>List {% record_type_label record_type %} Records</h2>
        <ul>
          {% for r in records %}
            <li>
              <a href="{{ r.get_absolute_url }}">{{ r }}</a>
            </li>
          {% endfor %}
        </ul>
        {% if record_type == 'express' %}
          <a href="{% url 'findingaids:create_record_express' repository.code %}" class="btn btn-primary">Create Record Express</a>
        {% else %}
          <a href="{% url 'findingaids:upload_record' repository.code record_type %}" class="btn btn-primary">Create {% record_type_label record_type %}</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
