{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ object }}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{ object.collection_title }}</h2>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Queued for: {% if object.status == "published" %}Publication{% else %}Preview{% endif %}</h4>
            </div>
            <a href="{% url 'findingaids:view_record' object.pk %}">Return to finding aid</a>
        </div>
    </div>
  </div>
{% endblock %}
