{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ object.repository }}: {{ object.collection_title }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ object.collection_title }}</h2>
        <ul>
          <li>Collection Title: {{ object.collection_title }}</li>
          <li>Collection Number: {{ object.collection_number }}</li>
          <li>Ark: {{ object.ark }}</li>
          <li>Repository: {{ object.repository }}</li>
          <li>Created By: {{ object.created_by }}</li>
          <li>Record type: {{ object.record_type }}</li>
          <li>Status: {{ object.status }}</li>
          <li>Date created: {{ object.date_created }}</li>
          <li>Date updated: {{ object.date_updated }}</li>
        </ul>
        {% if object.supplementaryfile_set.exists %}
          <ul>
            {% for f in object.supplementaryfile_set.all %}<li>{{ f }}</li>{% endfor %}
          </ul>
        {% endif %}
        {% if object.validationwarning_set.exists %}
        <ul class="bg-warning">
          {% for w in object.validationwarning_set.all %}
            <li>{{ w.message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <a href="{% url 'findingaids:update_record' object.repository.code object.pk %}" class="button">Update</a>
      </div>
    </div>
  </div>
{% endblock content %}
