<% breadcrumb :about %>
<%= render 'shared/breadcrumbs' %>


<div class="row">
  <div class="col-md-9">
    <h1>About OAC</h1>
    <p class="lead text-muted">The <strong>Online Archive of California (OAC)</strong> provides free
    public access to detailed descriptions of primary resource collections
    maintained by more than <a href="/institutions/">300 contributing
    institutions</a> including libraries, special collections, archives, historical societies, and museums throughout California and collections maintained by the 10 University of California (UC) campuses.
    </p>

    <h2>About the collections in OAC</h2>

    <p>Open the virtual doors of these institutions from our <a href="/">home
    page</a>. The key is the OAC's more than 55,000 online collection guides.
    You can
    use these to browse, locate resources, or view selected items digitally (the OAC contains more than 240,000 digital images and documents) or learn how you can gain access to the physical objects. </p>

    <p>Learn more <a href="/overview">about the collection guides in OAC</a>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we strive to provide responsible access to primary sources--and how you can help!</p>

    <h2>Collection guides unlock archive, library, and museum doors.</h2>

    <p>Access to collection guides (also known as finding aids) is essential to your understanding of a collection's content and for determining whether it is likely to satisfy your research needs.</p>

    <p>The OAC's comprehensive online collection guides make it easy to find collections and locate individual objects. These guides provide detailed descriptions of the items in a collection, as well as background, historical studies, and analyses (when available). Selected items have been digitally scanned for immediate online viewing.</p>

    <p>Do you have a question about a collection or item, or would you like to view the original materials? Are you seeking permission to publish or reproduce an image or text?  OAC collection guides also provide contact information for the institution that maintains the resources: you can connect with a librarian, archivist, or curator in order to learn more about and gain access to the physical materials.</p>

    <h2>OAC is a vital resource for researchers.</h2>

    <p>As California's central repository for collection guides, the OAC is a
    vital resource that serves everyone interested in California's rich
    collections: browse online, search for information about specific items
    and their location, and learn how to access them. New technology solutions
    enhance discovery, making it easy to locate specific items quickly or browse collection contents online. </p>

    <h2>History</h2>

    <p>The OAC -- completely redesigned in 2008-2009 to take advantage of advances made possible by new technologies -- was launched in 2002. It was a direct outgrowth of the groundbreaking development of the Encoded Archival Description (EAD) standard, initiated at UC Berkeley. <a href="https://help.oac.cdlib.org/support/solutions/articles/9000150112-oac-history">Learn more about the history of OAC</a>. </p>


    <h2>For California libraries, archives, historical societies, and museums:</h2>

    <p>Let us help you broaden access to your collections. Enjoy a range of benefits:</p>

    <ul>
    <li>Enhance the scholarship potential for your patrons</li>
    <li>Gain access to our tools, services, and training.</li>
    <li>Expand your grant opportunities through partnership with the CDL.</li>
    </ul>

    <p>The OAC membership is freely available to California academic, public, or private libraries, special collections and archival repositories, historical societies, and museums. <a href="https://help.oac.cdlib.org/support/solutions/articles/9000049975-become-a-contributor">Learn more about joining the OAC</a>.</p>

    <h2>Technical framework</h2>

    <p>OAC is based on a CDL-developed technical framework. <a href="https://help.oac.cdlib.org/support/solutions/articles/9000081989-technical-overview">Learn more about the OAC's systems</a>.</p>

    <h2>Our organization</h2>

    <p>The Online Archive of California is a project of the <a href="https://libraries.universityofcalifornia.edu/">University of California Libraries</a>, developed and maintained by the <a href="https://cdlib.org/">California Digital Library</a></p>
  </div>
  <div class="col-md-3">
    <div class="card p-4">
      <h2>Learn more</h2>

      <a href="/help">Help and FAQ</a><br/>
      <a href="https://help.oac.cdlib.org/support/solutions/articles/9000049975-become-a-contributor">How to become an OAC contributor</a><br/>
      <a href="https://help.oac.cdlib.org/support/solutions/articles/9000150112-oac-history">History of the OAC</a><br/>
      <a href="https://help.oac.cdlib.org/support/home">Especially for contributing members</a><br/>
    </div>
  </div>
</div>
