<!-- to edit breadcrumbs, see config/breadcrumbs.rb -->
<% breadcrumb :example %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Example Page</h1>
    <p class="lead text-muted">This is an example of the lead text paragraph class.</p>
    <p>Find me in app/views/static_pages/example.html.erb</p>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <p>
      Edit this card for right sidebar content.<br/>
      Copy this div to add more cards.
      </p>
    </div>
  </div>
</div>
