<% breadcrumb :help %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Frequently Asked Questions</h1>
<p>The OAC is a website that provides free public access to detailed descriptions of primary source collections (artwork, manuscripts, papers, historic photographs, and so on) maintained by more than <a href="/institutions>350 libraries, special collections, archives, historical societies, and museums</a> throughout California -- including collections maintained by the 10 University of California (UC) campuses.</p>
<p>The Online Archive of California is a service of the <a href="https://libraries.universityofcalifornia.edu/">University of California Libraries</a>, developed and maintained by the <a href="https://cdlib.org/">California Digital Library</a>.</p>
<p>Below are some frequently asked questions about finding, using, and obtaining more information about these materials.</p>

    <ul>
      <li><strong><a href="#oac">What kind of information can I find on the OAC website?</a></strong></li>
    </ul>
    <ul>
      <li><strong><a href="#collection">How can I find out what's in a collection?</a></strong></li>
      <ul>
        <li><a href="#guide">What does a collection guide look like?</a></li>
        <li><a href="#inventory">Why do some collection guides have detailed container lists or inventories and others don't?</a></li>
        <li><a href="#advanced">Why do some collection guides have advanced search, viewing, sharing/saving and table of contents features, while others don't?</a></li>
      </ul>
    </ul>
    <ul>
      <li><strong><a href="#questions">Can I see the collections, request copies, or ask questions about them?</a></strong></li>
      <ul>
      <li><a href="#contact">How do I contact contributing institutions?</a></li>
      <li><a href="#online">How do I see online versions of the items?</a></li>
      <li><a href="#digitized">The items I'm interested in aren't available online. Why aren't all the items digitized?</a></li>
      <li><a href="#physical">I see the item I'm interested in is available online, but for my research I need to see the physical object. How can I do that?</a></li>
      </ul>
    </ul>
    <ul>
      <li><strong><a href="#search-tips">Do you have any search tips?</a></strong></li>
    </ul>
    <ul>
      <li><strong><a href="#permitted">What am I permitted to do with the materials I find on the OAC?</a></strong></li>
      <ul>
      <li><a href="#publication">May I use the OAC materials in a publication or on a web site?</a></li>
      <li><a href="#cite">I want to cite an image or text in my paper or presentation. What's the proper form?</a></li>
      </ul>
    </ul>
    <ul>
      <li><strong><a href="#topic">I would like to learn more about a historical item or topic.</a></strong></li>
      <ul>
      <li><a href="#research">I'm conducting research. Can you help me find more information about a particular topic?</a></li>
      <li><a href="#historical">I have a historical item I'd like to know more about. Can you help?</a></li>
      <li><a href="#appraisal">I have an item I would like appraised. Can you help me?</a></li>
      <li><a href="#photographs">I have some historic photographs and documents. Can I put them in the OAC?</a></li>
      </ul>
    </ul>
    <ul>
      <li><strong><a href="#share">I have information I'd like to share with OAC.</a></strong></li>
      <ul>
      <li><a href="#error">I noticed an error in the description of an item or collection--or I have more information to share. How do I report it?</a></li>
      <li><a href="#story">I found something great in OAC! Can I share my story?</a></li>
      <li><a href="#improvements">Can I suggest improvements to the site?</a></li>
      </ul>
    </ul>
    <ul>
      <li><strong><a href="#library">I represent a California library, archive, museum, or other institution that wants to join the OAC. What's my first step?</a></strong></li>
    </ul>

    <h2 id="oac">What kind of information can I find on the OAC?</h2>

    <p>You can discover the contents of the archives, libraries, and museum collections, their physical location, and their contact information.</p>
    <p>The OAC does not own, store, or house any of the materials described in the collection guides.</p>

    <p><strong>Collection guides</strong><br/>
The OAC provides access to more than 60,000 online collection guides (also known as "<a href="https://dictionary.archivists.org/entry/finding-aid.html">finding aids</a>"). They describe the items in collections and how they were gathered or created. They also identify the collection's location, and may provide additional information such as detailed descriptions, histories, and biographies. You can use these to browse, locate resources, or view selected items digitally.</p>

    <p><strong>Contributing institutions</strong><br/>
The OAC partners with more than <a href="/institutions">350 libraries, special collections, archives, historical societies, and museums</a> throughout California. Select “Contributing Institutions” from the top navigation bar to view and scroll through an A-Z list of all the OAC contributing institutions.</p>
    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--must be directed to the institution that contributed the materials or the guide. The OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials appearing on this site.</p>
    <p>The name of the contributing institution, as well as a link to its website, is provided on every collection guide.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="collection">How can I find out what's in a collection?</h2>

    <p>Collection guides describe the items in a collection and how they were gathered or created. They also identify the collection's location, and may provide additional information, including detailed descriptions, chronologies, and biographies.</p>

    <h3 id="guide">What does a collection guide look like?</h3>

    <p>Insert screenshot & text here.</p>

    <h3 id="inventory">Why do some collection guides have detailed container lists or inventories and others don't?</h3>

    <p>Collection guides on the OAC vary in their levels of specificity, depending on the kinds of materials described and the practices of the holding institution. A number of factors could contribute to a less detailed guide: the collection may be too small to warrant an extensive inventory, the institution has chosen not to inventory the contents of the collection in detail, the inventory exists but is not online, and many other reasons.</p>

    <p>To learn more about any collection on the OAC and whether it contains material of interest, it is best to contact the holding institution.</p>

    <h3 id="advanced">Why do some collection guides have advanced search, viewing, sharing/saving, and table of contents features, while others don't?</h3>

    <p>This is a technical limitation due to file formats. The OAC currently supports two collection guide formats: 1) <a href="https://www.loc.gov/marc/">Machine Readable Cataloging (MARC)</a> records and 2) files encoded in <a href="https://www.loc.gov/ead/.">Encoded Archival Description (EAD)</a>. We are able to provide additional options for interacting with the EAD files, but not the MARC records.</p>

    <p>The OAC accepts both kinds of formats--and will continue to work to support more--because we believe it is better to provide some information about a collection than nothing at all.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="questions">Can I see the collections, request copies, or ask questions about them?</h2>

    <p>Questions related to a collection or its contents--including requests for duplication, permissions, or more information--must be directed to the institution that contributed the materials or the guide. The OAC does not own, store, or house any of the materials described in the collection guides, nor any of the digital materials appearing on this site.</p>

    <h3 id="contact">How do I contact contributing institutions?</h3>

    <p>Insert screenshot and text here.</p>

    <h3 id="online">How do I see online versions of the items?</h3>
    <p>Collection guides provide detailed descriptions of the items in a collection, and make it easy to  locate individual objects. Selected items have been digitally scanned, and may be available for immediate online viewing through the links provided by contributing institutions. If a collection includes online versions of items, the collection guide will provide the option to “Show only online content.” You may also refine search results to "Show only items with online content."</p>
    <p>When online content is available, contributing institutions will provide a link so you may view the digital objects. The digital objects are not available for viewing directly within the OAC website; these links will point to a digital collections platform, often the contributing partner’s website, or a digital collections website, such as <a href="https://calisphere.org">Calisphere</a>.</p>

    <h3 id="digitized">The items I'm interested in aren't available online. Why aren't all the items digitized?</h3>

    <p>Unfortunately, not all of the contents in all of the collections have been digitized. Each contributing institution decides what items to digitize and make available online based on a number of considerations (including available funding and resources for digitization, copyright restrictions that may prevent the item from being distributed online, and the scholarly significance of the item). For some researchers, just knowing that a collection exists and what the collection contains is of great assistance to their work. This is why we make the collection guides available.</p>

    <p>To learn more about a particular item, or to learn how you can see it, or to find out if a particular item can be digitized and made available online, please contact the contributing institution directly. A link to contact information is included at the top of every collection guide.</p>

    <p><a href="#contact">Find contributor information on a collection guide</a>.</p>

    <h3 id="physical">I see the item I'm interested in is available online, but for my research I need to see the physical object. How can I find out more about it?</h3>

    <p>The OAC does not own, store, or house any of the materials described in these collection guides.</p>

    <p>To find out how you can access a particular item, contact the contributing institution directly. A link to contact information is included at the top of every collection guide.</p>

    <p><a href="#contact">Find contributor information on a collection guide</a>.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="search-tips">Do you have any search tips?</h2>

    <p>The "Search OAC" box is available at the top right-hand corner of every page on the website. Enter one or more search terms to search through all the collections and items in the site, regardless of which page you are on.</p>

    <p>You can conduct your search at three levels: sitewide (all of the collections in OAC), within a particular contributing institution, or within a specific collection guide.</p>

    <p>Insert screenshots and text.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="permitted">What am I permitted to do with the materials I find on the OAC?</h2>

    <h3 id="publication">May I use the OAC materials in a publication or on a web site?</h3>

    <p>The materials in the OAC are intended to be used for research, teaching, and private study. All items may be protected by the U.S. Copyright Law (Title 17, U.S.C.). Usage of some items may also be subject to additional restrictions imposed by the copyright owner and/or the institution.</p>

    <p>See the <a href="/terms">Terms of Use</a> page for details.</p>

    <p><i>The OAC does not own or house any of the materials described in the collection guides.</i></p>

    <p><strong>Please contact the institution that houses the collection</strong> for information about the copyright status of a particular digital image or text, or for permission to publish or obtain a reproduction of a particular collection item. A link to contact information is included at the top of every collection guide.</p>

    <p><a href="#guide">Learn more about using collection guides</a>.</p>

    <h3 id="cite">I want to cite an image or text in my paper or presentation. What's the proper form?</h3>

    <p>When citing or referring to a collection guide in OAC, please use the permalink located near the top of the page, that begins with <strong>https://oac.cdlib.org/findaid/ark:/13030/#####</strong>. Check the guide to see if the collection guide includes a “Preferred Citation.” If it does, use that citation when referencing particular items in the collection.</p>

    <p>For additional recommendations on citing materials in archival collections, see the <a href="https://apastyle.apa.org/style-grammar-guidelines/references/archival">APA Style</a> and <a href="https://style.mla.org/citing-materials-physical-archives/">MLA Style Center</a>.</p>

 		<p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="topic">I would like to learn more about a historical item or topic.</h2>

    <h3 id="research">I'm conducting research. Can you help me find more information about a particular topic?</h3>

    <p>We do not house the collections here at the OAC so, and we do not have any further information about specific collections or items.</p>

    <p>Please address all questions and requests about items in a specific collection to the institution that houses the collection. A link to contact information is included at the top of every collection guide.</p>

    <p><a href="#guide">Learn more about using collection guides</a>.</p>

    <p>For general questions, we suggest contacting your local library reference desk.</p>

    <h3 id="historical">I have a historical item I'd like to know more about. Can you help?</h3>

    <p>Unfortunately, the OAC does not have the resources to offer reference desk services. For general questions, we suggest contacting your local library reference desk for suggestions.</p>

    <h3 id="appraisal">I have an item I would like appraised. Can you help me?</h3>

    <p>The OAC does not offer appraisal services.  Such services are provided by specialized businesses such as auction houses and antiquarian booksellers. You may wish to consult your local library for specialized collecting guides and catalogs. You can find contact information for specialists to authenticate or appraise your item through professional organizations such as the <a href="https://www.appraisers.org/">American Society of Appraisers</a> and the <a href="https://www.abaa.org/">Antiquarian Booksellers Association of America</a>.</p>

    <h3 id="photographs">I have some historic photographs and documents. Can I put them in the OAC?</h3>

    <p>At this time, we can only accept items from institutions. You may consider contacting one of the <a href="/institutions">OAC's current contributing institutions</a>, or your local historical society or library.</p>

    <p>See the <a href="https://www2.archivists.org/publications/brochures">Society of American Archivists' free brochure series</a> for useful tips on donating materials to an archive.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

    <h2 id="share">I have information I'd like to share with OAC.</h2>

    <h3 id="error">I noticed an error in the description of an item or collection--or I have more information to share. How do I report it?</h3>

    <p>The descriptions of items in the OAC -- or "metadata" -- are provided by the contributing institutions. Metadata is cataloging information that describes identifiable features -- dates, names, event or topic, location, subject, etc. -- of the primary source records to help researchers discover, situate, and interpret these materials in the context in which they were created. They generally follow established descriptive and cataloging best practices, and actively work to ensure that the metadata is accurate, uses inclusive language, and provides essential historical context to help with interpretation of primary sources.</p>
    <p>However, cultural heritage organizations often have limited documentation and resources available to further investigate individual items beyond the identifiable features in the sources themselves. For this reason, even significant details such as the item’s title, exact age, creator, or copyright status may not be present in the metadata record. Metadata can also reflect biases and may include culturally insensitive terminology, due to how it was originally sourced, created, described, or cataloged.</p>
    <p>We welcome additional information about the primary sources described in OAC. Learn more <a href="/overview">about the collection guides in OAC</a>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we strive to provide responsible access to primary sources--and how you can help!</p>
    <p>If you have information about an item or collection on this site that is not represented in the metadata or would like to help correct an error, please <a href="/contact">contact us</a>.</p>

    <h3 id="story">I found something great in OAC! Can I share my story?</h3>
    <p>Yes! If this site has helped you advance your research, complete a project, find something meaningful, or do anything else that’s important to you, <a href="/contact">we'd love to hear about it</a>. Stories like yours help us obtain additional funding so we can continue to grow and improve OAC.</p>

    <h3 id="improvements">Can I suggest improvements to the site?</h3>
    <p>We are always on the lookout for new ways to enhance the user experience in OAC. Feel free to <a href="/contact">contact us</a> with feature requests, ideas, and yes—even complaints. We’ll try our best to address these in our ongoing development of the site.</p>

    <h2 id="library">I represent a California library, archive, museum, or other institution that wants to join the OAC. What's my first step?</h2>

    <p>Please see <a href="https://help.oac.cdlib.org/support/solutions/articles/9000049975-become-a-contributor">How to Join the OAC as a Contributing Member</a> for more information.</p>

    <p style="text-indent:2em;"><a href="#top">back to top</a></p>

  </div>
</div>
