<% breadcrumb :overview %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>About the Collection Guides in the Online Archive of California</h1>

    <p>Thank you for visiting the Online Archive of California (OAC), a website that provides free public access to detailed descriptions of primary source collections, including photographs, documents, letters, artwork, diaries, oral histories, films, advertisements, musical recordings, and more. OAC provides information about unique and historically important artifacts for research, teaching, and exploration.</p>

    <p>Discover more than 60,000 online collection guides describing original artifacts such as: early maps of the world; photographs from historic newspapers; paintings reflecting periods of cultural significance; new frontiers through personal journals and diaries; political posters calling for decades of social and political change; first-hand accounts through interviews and oral histories -- OAC brings together collection descriptions contributed by the ten University of California campuses and more than <%= link_to '350 cultural heritage organizations across the State of California', { controller: 'arclight/repositories', action: 'index' } %>. Each of these organizations (libraries, archives, museums, and historical societies) has specific collection emphases, which may be informed by local history, activities, research interests, or other topics significant to its community. <strong>OAC is committed to providing broad public access to primary sources for historical research and understanding.</strong></p>

    <p>OAC is a service of the <a href="https://libraries.universityofcalifornia.edu/">University of California Libraries</a>, developed and maintained by the <a href="https://cdlib.org/">California Digital Library</a>. <em>Learn more about <a href="https://help.oac.cdlib.org/support/solutions/articles/9000049975">becoming a contributing partner</a></em>.</p>

    <h2>Providing access to descriptions of primary source records</h2>

    <p>Collection guides (also known as “<a href="https://dictionary.archivists.org/entry/finding-aid.html">finding aids</a>”) provide detailed descriptions of the materials in archival collections, such as how the historical items were gathered or created, as well as contextual information, including biographies, chronologies, and other historical details.</p>

    <p>Collection guides may also provide information about how the collection is arranged, to help you browse and locate resources. Each guide in OAC also includes contact information for the institution that shared the finding aid and maintains the physical collection materials. Please feel free to contact those librarians, archivists, or curators to learn more about and gain access to these historical items.</p>

    <p>The materials described in the collection guides are <a href="https://dictionary.archivists.org/entry/primary-source.html">primary sources</a>, defined by the <a href="https://www2.archivists.org/statements/saa-core-values-statement-and-code-of-ethics">Society of American Archivists</a> as materials that include firsthand accounts of an event or topic. They are often created at the time of the event (such as photographs), but also may be recalled later by an eyewitness (such as oral histories). Primary sources have enduring cultural and historical significance and are considered permanently valuable records, offering documentary evidence that we use to interpret and understand history.</p>

    <p>Some of the collection guides may also include or reference materials that are available in digital formats, for online viewing. Contributors provide descriptions of identifiable features -- dates, names, event or topic, location, subject, etc. -- of those digital materials to help users discover and interpret these materials. On this page, we’ll refer to this descriptive information in collection guides and associated with digital materials as “<a href="https://dictionary.archivists.org/entry/descriptive-metadata.html">metadata</a>.”</p>

    <h2>Understanding metadata, its use, and its challenges</h2>

    <p>Our partner organizations -- libraries, archives, museums, historical societies, etc. -- use metadata to describe primary sources and help researchers discover, situate, and interpret these materials in the context in which they were created. These organizations generally follow established descriptive and cataloging best practices and actively work to ensure that the metadata is accurate, uses culturally sensitive language, and provides essential historical context to help with interpretation of primary sources. For example, many of our partner organizations consult <a href="https://saa-ts-dacs.github.io/">Describing Archives: A Content Standard</a> (DACS), which provides a set of rules and standards for description to assist users in the discovery of these primary source records.</p>

    <p>Historical circumstances, however, can present challenges with using and interpreting metadata:</p>

    <ul>
      <li><strong>Some information about the primary sources may be incomplete or unknown.</strong> Cultural heritage organizations often have limited documentation and resources available to further investigate individual items beyond the identifiable features in the sources themselves. For this reason, even significant details such as the item’s title, exact age, creator, or copyright status may not be present in the metadata record.</li>
      <li><strong>Metadata can also reflect biases and may include culturally insensitive terminology because of the way an item was originally sourced, created, described, or cataloged.</strong> For example, when following cataloging and descriptive practices, catalogers and collection processing staff may transcribe original information associated with a source item, such as a culturally insensitive caption written on the back of a photograph, and supply that as metadata. Additionally, the work of catalogers and collection processing staff may reflect their own implicit or explicit biases in describing materials.</li>
      <li><strong>Metadata may lack context for why culturally insensitive terminology is present.</strong> Original information supplied by the creator or collector preserves the evidential value of the item for historical research; it may also reflect the original perspective of the author/creator or the attitudes of the specific historical period in which the source item was created or described. Emerging recommendations from the <a href="https://archivesforblacklives.files.wordpress.com/2019/10/ardr_final.pdf">Anti-Racist Description Resources</a>, prepared by the <a href="https://archivesforblacklives.wordpress.com/">Archives for Black Lives in Philadelphia Anti-Racist Description Working Group</a>, suggest notating the source of the original description, such as information transcribed from a creator’s handwritten note, to provide clear context in the item record. Much material, however, still lacks this information.</li>
    </ul>

    <p>The California Digital Library acknowledges the necessity of efforts to evaluate and contextualize metadata, including how it is sourced, created, described, or catalogued, so that there is historical context as you explore these primary sources. We are engaging with contributing partners and colleagues to <a href="https://trello.com/c/ctXpvWDu/33">identify and implement reparative cataloging and descriptive practices</a> that not only address existing metadata records, but also inform the creation of new records.</p>

    <h2>Supporting best practices and community values regarding access to historical materials</h2>

    <p>OAC partners with cultural heritage organizations in California to promote and provide wide access to their materials as much -- and as responsibly -- as possible. Libraries, archives, and museums share professional standards and values, such as those promoted by the <a href="https://www2.archivists.org/statements/saa-core-values-statement-and-code-of-ethics">Society of American Archivists</a>, <a href="https://www.ala.org/tools/ethics">American Library Association</a>, and the <a href="https://www.aam-us.org/programs/ethics-standards-and-professional-practices/">American Alliance of Museums</a>.</p>

    <p>Cultural heritage organizations can consult established and continually evolving best practices to mitigate the potential risk of exposing sensitive content that should not be made publicly available. Such considerations include:</p>

    <ul>
      <li>Respecting conditions set by the original creators or source of the materials.</li>
      <li>Protecting the privacy rights of those documented in collections (subjects who may or may not be the record creators or donors), including restricting access to personally identifiable information, complying with the <a href="https://www2.ed.gov/policy/gen/guid/fpco/ferpa/index.html">Family Educational Rights and Privacy Act</a> (FERPA), and following the <a href="https://www.hhs.gov/hipaa/for-professionals/privacy/index.html">HIPAA Privacy Rule</a>.</li>
      <li>Adhering to ethical guidelines related to culturally sensitive materials, such as in the <a href="https://www2.nau.edu/libnap-p/protocols.html">Protocols for Native American Archival Materials</a>.</li>
    </ul>

    <h2>Recognizing historic and ongoing biases in primary sources</h2>

    <p>In addition to the descriptive information, some collection guides on OAC may also provide direct access to digital primary sources. As original historical artifacts, digital primary sources found through OAC may include terms or depict actions that are dated, biased, or offensive. These records do not represent the views of the California Digital Library or the contributing organizations. The intent is not to propagate or legitimize historical or ongoing biases; rather, we firmly believe that these materials provide significant historical evidence to help inform a more complete historical record. The context of the source item -- the circumstances in which these materials were created or compiled -- is critical to fully understand and assess its historical value or purpose as documentary evidence.</p>

    <p>An individual primary source record is unlikely to provide all the evidence or perspectives required to fully understand the significance of a topic, theme, event, or period; some information may be unknown or the perspective may favor historic and/or continued biases. The American Historical Association’s <a href="https://www.historians.org/jobs-and-professional-development/statements-standards-and-guidelines-of-the-discipline/statement-on-standards-of-professional-conduct">Statement on Standards of Professional Conduct</a> states that “multiple, conflicting perspectives are among the truths of history.” As a researcher analyzing a primary source record, it is important to ask rigorous questions, verify facts, and critically evaluate a variety of sources and perspectives to gain a fuller understanding of history.</p>

    <p>The California Digital Library recognizes that the resources available through OAC do not reflect a comprehensive and representative historical record, and the absence of a wide range of experiences, voices, and perspectives poses barriers to meaningful historical research and interpretation. We also recognize that our current collection guide and digital primary source publication workflows present challenges to many cultural heritage organizations, including community-centered archives, given the technical requirements for contributing content to the site. We are actively engaged in <a href="https://trello.com/c/vctSjLLh">research and development activities designed to transition services like OAC to a national-level platform</a>, with the goal of establishing workflows that support broader participation and, thus, result in a more representative, holistic, and comprehensive range of collections stewarded by diverse cultural heritage organizations across the country.</p>

    <h2>Our commitment to providing responsible access to primary sources--and how you can help!</h2>

    <p>As a project of the <a href="https://libraries.universityofcalifornia.edu/">University of California Libraries</a>, developed and maintained by the <a href="https://www.cdlib.org/">California Digital Library</a> (CDL), OAC advances CDL’s <a href="https://cdlib.org/about/mission-vision-and-values/">mission, vision, and values</a> “by recognizing the value of openness in all aspects of the scholarly enterprise... [and responding] to society’s need for unfettered information access to confront the critical problems of today and tomorrow.”</p>

    <p>OAC also supports the missions and values that guide our contributing partner organizations--to share and provide free access to primary sources that provide enduring cultural, historical, or evidentiary value. Together, we are committed to providing broad public access to these resources in a responsible manner. And, we strive to provide as much accurate contextual information as is feasible, respect ethical guidelines, and adhere to legal specifications as new information about these items is made available.</p>

    <p><strong>We welcome additional information about the primary sources described in OAC.</strong> The California Digital Library and contributing partner organizations invite users and researchers to share any relevant information that will help us better understand and describe the primary sources and historical records in OAC. As you explore the collections here, please <%= link_to 'contact us', contact_form_path %> if you are able to:</p>

    <ul>
      <li>provide information that surfaces or clarifies the historical context of the item;</li>
      <li>report an error in the metadata;</li>
      <li>identify an item that should not be online due to legal, ethical, or other considerations;</li>
      <li>share information on an item's copyright status; or</li>
      <li>provide any additional information that will help us better understand and interpret these items.</li>
    </ul>

    <p>Upon receipt, we will review and address any issues raised or new information provided in consultation with the contributing organization and respond to your feedback accordingly.</p>

    <p>About the information on this page: In an effort to share information that reflects the current practices and commitments of our partners -- archivists, librarians, curators, etc. -- we have consulted workflows and guidelines made publicly available by peer organizations, including the “<a href="https://escholarship.org/uc/item/4mq1461d">Statement on Inclusion and Equity in Special Collections, Archives, and Distinctive Collections in the University of California Libraries</a>.”</p>
    <p>Many thanks to the <a href="https://www.lib.berkeley.edu/">UC Berkeley Library</a> for developing and sharing their <a href="https://news.lib.berkeley.edu/responsible-access">responsible access workflows</a>, made available as a resource to help guide digital access decisions. We have also consulted the work of national aggregators, including the <a href="https://dp.la/">Digital Public Library of America</a>, <a href="https://digitalnz.org/">DigitalNZ</a>, <a href="https://www.europeana.eu/en">Europeana</a>, and the <a href="https://www.nla.gov.au/">National Library of Australia</a>. Finally, we thank our colleagues at the University of California Libraries for their engagement in developing the information on this page.</p>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <h2>Know something we don’t?</h2>
    	<p>We welcome additional information about the primary sources described in OAC. The California Digital Library and contributing partner organizations invite users and researchers to share any relevant information that will help us better understand and describe the primary sources and historical records in OAC.</p>

	    <p>Learn more about our commitment to providing responsible access to primary sources--and how you can help--below!</p>
    </div>
</div>
