<% breadcrumb :privacy %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-9">
    <h1>Privacy Statement</h1>

    <p>The California Digital Library (CDL) values your privacy. For a detailed description of what information we collect from visitors to this website and how it is used and managed, please see the <a href="https://cdlib.org/about/policies-and-guidelines/privacy-policy/">CDL Online Privacy Notice</a>.</p>

    <h2>Addendum</h2>

    <p>The following additional practices are specific to the administration of the Online Archive of California.</p>

    <h3>Sharing Information with Content Contributors</h3>

    <p>The content on this website is contributed by cultural heritage institutions across California. We provide our contributors aggregate reports of usage statistics on the content they have submitted, currently derived from web server logs.</p>

    <p>Questions about items and collections should be directed to their contributing institutions. See the “Get items” area in the collection guide or visit <a href="/institutions/">the institution's page</a> for more information. Messages about items or collections submitted through the site <a href="/contact/">Contact Us</a> page may be forwarded to the contributing institution. Your contact information will be included so staff at the contributing institution may follow up with you directly if needed.</p>

    <h3>Third Party APIs</h3>

    <p>Certain features on this website utilize third party services and APIs such as Mapbox and OpenStreetMap or third party hosting of common javascript libraries or web fonts. Information used by an external service is governed by the privacy policy of that service. CDL does not control how information may be used by these services.</p>

    <h3>User Surveys</h3>
    <p>This website will sometimes conduct user surveys. When doing so, it may set a flash local storage "cookie" so users are only surveyed once per computer.</p>


    <h2>Revisions</h2>

    <p>This statement was last revised on March 14, 2024 and may be revised at
    any time.</p>
  </div>
</div>
