<% breadcrumb :quickstart %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Quick Start Guide</h1>
    <p>Welcome to the Online Archive of California (OAC)! This quick start guide will help you navigate the OAC and make the most of its resources.</p>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
    </div>
  </div>
</div>
