<% breadcrumb :quickstart %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Introducing the new OAC</h1>
    <p>Welcome to the new OAC! We’re excited to introduce you to our upgraded website, completely rebuilt adapting from community-supported open source technology. We’ve prepared videos (linked below) to help you get familiar with the new design and features of OAC. <%= link_to 'Let us know', contact_form_path %> what you think!</p>
    <ul class="list-unstyled">
<li><a href="#search">Search OAC</a></li>
<li><a href="#institutions">Browse Contributing Institutions</a></li>
<li><a href="#collections">Navigate Collection Guides</a></li>
</ul>

<h2 id="search">Search OAC</h2>
<p>In this video, we highlight options to search across OAC’s sitewide contents. In OAC, you can discover over 60,000 collection guides - and counting!</p>

<p>OAC additionally offers options to search within a particular institution, or even within a specific collection guide. The search features demonstrated in this video are available at each of these different levels, and function similarly across the site.<p>

<div style="padding:56.25% 0 0 0;position:relative;">
	<iframe title="vimeo-player" src="https://player.vimeo.com/video/1100439084?h=1bb5552a58" style="position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #cccccc;" frameborder="0" allowfullscreen="" sandbox="allow-scripts allow-forms allow-same-origin allow-presentation"></iframe>
</div>
<br/>
<h2 id="institutions">Browse Contributing Institutions</h2>
<p>This video introduces options to browse contributing institutions and search their specific collections.</p>

<p>OAC partners with over 350 libraries, archives, and museums throughout California. Our contributing partners steward primary sources, which are organized into collections. These collections are described in collection guides, which offer summary information about the collection, as well as the type of records you might find there.</p>

<div style="padding:56.25% 0 0 0;position:relative;">
	<iframe title="vimeo-player" src="https://player.vimeo.com/video/1100479836?h=1b2ebd01bd" style="position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #cccccc;" frameborder="0" allowfullscreen="" sandbox="allow-scripts allow-forms allow-same-origin allow-presentation allow-popups"></iframe>
</div>
<br/>
<h2 id="collections">Navigate Collection Guides</h2>
<p>In this video, we take a look at an example of a typical collection guide in OAC, highlight key features available to navigate or search through the guide, and describe what you can do if you want to view a particular historical resource or use it in your research.</p>

<div style="padding:56.25% 0 0 0;position:relative;">
	<iframe title="vimeo-player" src="https://player.vimeo.com/video/1100766635?h=9574d2f411" style="position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #cccccc;" frameborder="0" allowfullscreen="" sandbox="allow-scripts allow-forms allow-same-origin allow-presentation allow-popups"></iframe>
</div>
<br/>
  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
      <h2>Learn more</h2>

      <%= link_to 'Help and FAQ', help_path %><br/>
      <%= link_to 'History of OAC', 'https://help.oac.cdlib.org/support/solutions/articles/9000150112-oac-history' %><br/>
    </div>
  </div>
</div>
