<% breadcrumb :termsofuse %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Terms of Use</h1>

    <p>The Online Archive of California (OAC) provides free public access to detailed descriptions of primary resource collections maintained by more than 350 contributing institutions including libraries, special collections, archives, historical societies, and museums. The OAC is a service of the  <a href="https://libraries.universityofcalifornia.edu/">UC Libraries</a>, powered by the <%= link_to 'California Digital Library', 'https://cdlib.org/' %>.</p>
    <p>OAC contains collection guides that were created and published by its contributing institutions. The OAC does not contain digital copies of the letters, photographs, and other objects that the guides describe. Individual collection guides, or the websites of the contributing institutions, provide information on how to access those primary resources themselves.</p>
    <p>Collection guides may contain information that is basic and factual (e.g. title, creator, date) as well as material that is more complex (e.g. longer narrative descriptions of resources, or the subjects of the resources). Some information was created by the contributing institution, but other information may originate from third party sources, such as biographical dictionaries.</p>
    <p>The California Digital Library and contributing institutions place no restrictions of their own on any of the collection guides that appear on OAC. Factual metadata in collection guides – such as collection titles, creators, and dates – may be used freely by anyone (and is not subject to copyright protection in the United States). However, because the contributing institutions are not necessarily the copyright owner of information that comes from third party sources, they are not in a position to grant or deny permission for the use of that material. Users must make their own determinations about what reuse the law allows.
</p>

<p>OAC encourages the following types of reuse of collection guides:</p>
    <ul>
    <li>Citing or linking to collection guides. When citing or referring to a collection guide in OAC, please use the permalink located near the top of the page, that begins with <strong>https://oac.cdlib.org/findaid/ark:/13030/#####</strong>. Check the guide to see if the collection guide includes a “Preferred Citation.” If it does, use that citation when referencing particular items in the collection.</li>
    <li>Downloading or printing the full text of collection guides for research, scholarship, and personal use.</li>
    </ul>

<p>The OAC also supports the following additional types of reuse of collection guides:</p>
    <ul>
    <li>Programmatic harvesting of collection guide data by OCLC, for guides from contributors who have specifically opted-in to share their data through <%= link_to 'ArchiveGrid', 'https://researchworks.oclc.org/archivegrid/' %>.</li>
    <li>Programmatic re-use of collection guide data by contributors, for use within their Aeon archival request management systems.</li>
    <li>Web crawling and bot activity when that behavior does not impact site performance.</li>
    </ul>

    <p>OAC discourages, and will prevent access by web crawlers and bots that do not follow robots.txt rules or negatively impact the functionality of the service.</p>

    <h2>Know something we don't?</h2>
    <p>The sometimes obscure nature of historical, archival, and/or primary source collections can make it difficult to know all the details about the items that appear on this site. The California Digital Library and the contributing institution strive to provide as much information as is feasible, respect ethical guidelines, and adhere to legal specifications as new information about these items is made available. However, cultural heritage organizations often have limited documentation and resources available to further investigate individual items beyond the identifiable features in the sources themselves. For this reason, even significant details such as the item’s title, exact age, creator, or copyright status may not be present in the metadata record.</p>
    <p>We welcome additional information about the primary sources described in OAC. Learn more <a href="/overview">about the collection guides in OAC</a>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we work to provide responsible access to primary sources--and how you can help!</p>
    <p>If you have information about an item on this site that is not represented in the item’s metadata or would like to help correct an error, please <a href="/contact/">contact us</a>.</p>

    <h2>Revisions</h2>
    <p>This statement was last revised on July 15, 2025 and may be revised at any time.</p>

  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
        <h2>Learn more</h2>
        <p><%= link_to 'View more information about copyright law from the U.S. Copyright Office.', 'https://www.copyright.gov/' %></p>
    </div>
  </div>
</div>
