<% breadcrumb :termsofuse %>
<%= render 'shared/breadcrumbs' %>

<div class="row">
  <div class="col-md-8">
    <h1>Terms of Use</h1>
    <h2>Rights statement</h2>

    <p>The contents of the OAC database-which includes collection guides and additionally digital content including images, text, and
audio and video recordings-are made publicly available by the collection-holding repositories for use in research, teaching, and
private study.</p>
    <p>The nature of historical archival and manuscript collections often makes it difficult to determine the copyright status of a
particular item. Whenever possible, the CDL and the collection-holding repository provide available information about copyright
owners and other restrictions in the metadata associated with digital images, texts, and audio and video recordings.</p>
    <p>Please contact the collection-holding repository for additional available information regarding copyright status of an item. The
name and website of the collection-holding repository is listed under the label "Contributing Institution" accompanying every
digital object, and next to "Get Items" at the top of every collection guide.</p>
    <p>The CDL and the holding repositories provide the aforementioned information as a service to aid users in determining the
copyright status of an item. Ultimately, however, it is the user's responsibility to use an item according to the terms governing
its use.</p>
    <p>The owning repositories are eager to hear from any copyright owners who are not properly identified so that appropriate
information may be provided to researchers and teachers in the future. In consultation with the contributing institution, the CDL
will work with the holding repository in a timely manner to remove material from public view while the repository addresses
any copyright concerns or other issues such as libel or invasion of privacy.</p>

    <h2>Conditions of use</h2>

    <p>By their use of these digital images, texts, and audio and video recordings, users agree to follow these conditions of use:</p>

    <ul>
      <li>Responsibility for any use of these materials rests exclusively with the user.</li>
      <li>Some materials in these collections may be protected by the U.S. Copyright Law (Title 17, U.S.C.). In addition, the reproduction of some materials may be restricted by terms of gift or purchase agreements, donor restrictions, privacy and publicity rights, licensing and trademarks. Transmission or reproduction of materials protected by copyright beyond that allowed by copyright law requires the written permission of the copyright owners.</li>
      <li>The CDL prefers that users give proper credit to the collection-owning repository.</li>
    </ul>

    <h2>Know something we don't?</h2>
    <p>The sometimes obscure nature of historical, archival, and/or primary source collections can make it difficult to know all the details about the items that appear on this site. The California Digital Library and the contributing institution strive to provide as much information as is feasible, respect ethical guidelines, and adhere to legal specifications as new information about these items is made available. However, cultural heritage organizations often have limited documentation and resources available to further investigate individual items beyond the identifiable features in the sources themselves. For this reason, even significant details such as the item’s title, exact age, creator, or copyright status may not be present in the metadata record.</p>
    <p>We welcome additional information about the primary sources described in OAC. Learn more <a href="/overview">about the collection guides in OAC</a>, including how primary source records are described; how shared community values and standards guide access to historical materials; how we work to provide responsible access to primary sources--and how you can help!</p>
    <p>If you have information about an item on this site that is not represented in the item’s metadata or would like to help correct an error, please <a href="/contact/">contact us</a>.</p>

    <h2>Revisions</h2>
    <p>This statement was last revised on February 24, 2022 and may be revised at any time.</p>

  </div>
  <div class="col-md-4">
    <div class="card p-4 mb-4">
        <h2>Learn more</h2>
        <a href="http://www.copyright.gov/">View more information about copyright law from the U.S. Copyright Office.</a>
    </div>
  </div>
</div>
