name: Dags Check
on:

    pull_request:
        branches:
        - main
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v6
        - name: Set up Python
          uses: actions/setup-python@v6
          with:
            python-version: "3.11"

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r dags/requirements.txt
            pip install apache-airflow boto3
            pip check
        - name: Lint dags with ruff
          run: |
            pip install ruff
            ruff check --output-format=github ./dags
        - name: Test with Pytest
          run: |
            pip install pytest
            mv dags cinco
            export CONTAINER_EXECUTION_ENVIRONMENT="docker"
            pytest cinco/dags_tests.py -v
